*.7z
*.au
*.aup
*.gif
*.jpg
*.lbe
*.lnk
*.m4a
*.mov
*.mp3
*.mp4
*.oga
*.ogg
*.png
*.psd
*.ttf
*.vrm
*.wav
*.webm

*.js
*.js.map

node_modules/
/vendor/*
data/secrets/*

audio/
fonts/
img/
old/
photos/
retired/
sounds/
video/
videos/

effects/ankha/
effects/archive/
effects/cow/char/
effects/cow/kowna/
effects/disrespect/
effects/hardware/
effects/jambreak/jams/conga/
effects/lights/colorlist.json
effects/mii/
effects/notifs/discord/
effects/ocarina/
effects/pause/pauses/
effects/sfx/retired/
effects/sfx/sources/
effects/stuff/
effects/subsanddubs/voices/nook/animalese
effects/timewarp/gaspar/
effects/timewarp/masks/