*.7z
*.au
*.aup
*.gif
*.jpg
*.lbe
*.lnk
*.m4a
*.mov
*.mp3
*.mp4
*.oga
*.ogg
*.png
*.psd
*.ttf
*.wav
*.webm

*.js
*.js.map

/vendor/*
data/secrets/*

audio/
fonts/
img/
naughty/
old/
photos/
sounds/
video/
videos/

effects/ankha/
effects/cow/char/
effects/cow/kowna/
effects/disrespect/
effects/greetings/
effects/hardware/
effects/illuminati/
effects/jambreak/jams/conga/
effects/kona/cfb/
effects/mii/
effects/notifs/discord/
effects/ocarina/
effects/sfx/retired/
effects/sfx/sources/
effects/silenthill/
effects/stuff/
effects/summon/
effects/timeouts/
effects/timewarp/gaspar/
effects/timewarp/masks/